body {
  background-color: #212121;
  color: #f6f7d7;
}

h1{
  color: #14ffec;
}
h3{
  color: #14ffec;
}
h4{
  color: #14ffec;
}

a{
  color: #ff9a00;
}

th{
  color: #14ffec;
}

hr {
  background-color: #212121;
  border-style: dotted none none;
  border-color: #14ffec;
  border-width: 4px;
  width: 20%;
}
